.back-btn {
  margin-bottom: 30px;
}

.main-information-container {
  display: flex;
  gap: 30px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid grey;
}

.additional-information {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid grey;
}
